<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Bienvenido a <%= title %></h1>
    <p>Welcome to <%= title %></p>
    <P>El portal donde podrá crear sus propios juegos!</P>
    <p><a href="/quizes/question">¡A jugar!</a></p>
  </body>
</html>
