<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>QUIZ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  	<p>La respuesta <strong><%= answer %></strong> es <%= result %></p>
  	<a href="/quizes/question?answer=<%= answer %>">Keep trying!</a>
  </body>
</html>
